@page "/Twenty48/id"
@rendermode InteractiveAuto
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation

<PageTitle>Twenty48</PageTitle>

<p>
    <ul>
        <li>Shunt the cells to merge them!</li>
        <li>Can you merge all the way to 2048</li>
    </ul>
</p>
@code {

}
