
/*
    This is query container for the overall game area
*/
#gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    container: gameArea / inline-size;
}

/* 
    Wraps all the game elements.  Will contain various controls and displays
    one of which will be the main game baard.
*/
#gameArea {}

/* 
    This main interactive part of the game, holds all absolutely
    positioned items.
*/
#gameBoard {
    position: relative;
    background-color: #bbada0;
    opacity: 1;
}

/*
    Area Items.  Anything is that is happening out of the game board.
    These items should reserve layout space and will appear above/below.
*/
#score {
    top: 0px;
    font-weight: bold;
    font-size: 24px;
}

/*
    Board Items.  Anything this is happening inside of the game board.
    Anything in here is expected to be absolutely positioned.
*/


#cells {}

#gameOver {
    position:absolute;
    top:45%;
    left: 0%;

    width:100%;
    z-index:1000;

    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 24pt;
    
    transition-duration: 4s;
    opacity: 0;
}


/* Small */
@container gameArea (width < 576px) {
    .gamearea {
        border: 1pt solid red;
        width: 500px;
        min-width: 500px;
    }

    #gameBoard {
        width: 500px;
        height: 500px;
    }

    .cell {
        width: 116px;
        height: 116px;
        border-radius: 10px;
        font-size: 24pt;
    }
}

/* Medium */
@container gameArea (width >= 576px) {
    .gamearea {
        width: 690px;
        height: 690px;
    }

    #gameBoard {
        width: 690px;
        height: 690px;
    }

    .cell {
        width: 158px;
        height: 158px;
        border-radius: 10px;
        font-size: 30pt;
    }
}


/* Large */
@container gameArea (width >= 768px) {
    .gamearea {
        width: 900px;
        height: 900px;
    }

    #gameBoard {
        width: 900px;
        height: 900px;
    }

    .cell {
        width: 205px;
        height: 205px;
        border-radius: 10px;
        font-size: 42pt;
    }
}


@keyframes slidein {
    0% {
        scale: 0 0;
    }

    80% {
        scale: 110% 110%;
    }

    100% {
        scale: 100% 100%;
    }
}

#debug {
    color: white;
    height: 24px;
}


.cell {
    position: absolute;
    transition-duration: 0.10s;
    animation-duration: 0.15s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: auto 1 / 1;
}

.cell-0 {
    background: rgba(238, 228, 218, 0.35);
}

.cell-2 {
    background: #eee4da;
}

.cell-4 {
    background: #eee1c9;
}

.cell-8 {
    color: #f9f6f2;
    background: #f3b27a;
}

.cell-16 {
    color: #f9f6f2;
    background: #f69664;
}

.cell-32 {
    color: #f9f6f2;
    background: #f77c5f;
}

.cell-64 {
    color: #f9f6f2;
    background: #f75f3b;
}

.cell-128 {
    color: #f9f6f2;
    background: #edd073;
}

.cell-256 {
    color: #f9f6f2;
    background: #edcc62;
}

.logInfo {
    background-color: blue;
    color: white;
}

.logWarn {
    background-color: orange;
    color: white;
}

.logSuccess {
    background-color: green;
    color: white;
}

.logDebug {
    background-color: lightslategray;
    color: white;
}

.logError {
    background-color: red;
    color: white;
}


.logUp {
    background-color: lemonchiffon;
    color: black;
}

.logDown {
    background-color: lightcyan;
    color: black;
}


#debugLog p {
    margin: 0;
    padding: 5px;
}
