@keyframes slidein {
    0% {
        scale: 0 0;
    }

    80% {
        scale: 110% 110%;
    }

    100% {
        scale: 100% 100%;
    }
}

#debug {
    color: white;
    height: 24px;
}

#gameArea {
    position: relative;
    //border: 1px solid red;
    container-type: inline-size;
    min-width: 200px;
}

@container (min-width: 0px) {
    #gameBoard {
        width: 200px;
        height: 200px;
        margin: 20px 0 0 -100px;
    }

    #debug {
        background-color: red;
    }

    .cell {
        height: 45px;
        width: 45px;
        font-size: 18px;
        border-radius: 2px;
    }
}


@container (min-width: 350px) {
    #gameBoard {
        width: 300px;
        height: 300px;
        margin: 20px 0 0 -150px;
    }

    #debug {
        background-color: darkgreen;
    }

    .cell {
        height: 68.75px;
        width: 68.75px;
        font-size: 36px;
        border-radius: 7px;
    }
}

@container (min-width: 500px) {
    #gameBoard {
        width: 370px;
        height: 370px;
        margin: 20px 0 0 -185px;
    }

    #debug {
        background-color: rebeccapurple;
    }

    .cell {
        height: 80px;
        width: 80px;
        font-size: 36px;
        border-radius: 7px;
    }
}

#gameBoard {
    position: absolute;
    background-color: #bbada0;
    top: 50%;
    left: 50%;
}

.cell {
    position: absolute;
    transition-duration: 0.10s;
    animation-duration: 0.15s;
    animation-name: slidein;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-0 {
    background: rgba(238, 228, 218, 0.35);
}

.cell-2 {
    background: #eee4da;
}

.cell-4 {
    background: #eee1c9;
}

.cell-8 {
    color: #f9f6f2;
    background: #f3b27a;
}

.cell-16 {
    color: #f9f6f2;
    background: #f69664;
}

.cell-32 {
    color: #f9f6f2;
    background: #f77c5f;
}

.cell-64 {
    color: #f9f6f2;
    background: #f75f3b;
}

.cell-128 {
    color: #f9f6f2;
    background: #edd073;
}

.cell-256 {
    color: #f9f6f2;
    background: #edcc62;
}
