<?xml version="1.0" encoding="utf-8"?>
<Macro Key="598acbbc-84b5-4eb0-ad92-3164f892cfd8" Alias="Signin" Level="0">
  <Name>Signin</Name>
  <MacroSource>~/Views/MacroPartials/Signin.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>