<?xml version="1.0" encoding="utf-8"?>
<Content Key="c39f115b-6a2b-4bf8-ae26-037ba355f100" Alias="2048" Level="3">
  <Info>
    <Parent Key="4c9e50a5-6c18-4e63-9531-a4c532b59a37">Games</Parent>
    <Path>/HomePage/Games/</Path>
    <Trashed>false</Trashed>
    <ContentType>twenty48</ContentType>
    <CreateDate>2024-10-06T16:26:24</CreateDate>
    <NodeName Default="2048" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="10521d64-7dd8-431b-94c7-64d8f4bd303e">Twenty48</Template>
  </Info>
  <Properties>
    <buttonTextLoading>
      <Value><![CDATA[Connecting....]]></Value>
    </buttonTextLoading>
    <buttonTextReady>
      <Value><![CDATA[Start new game]]></Value>
    </buttonTextReady>
    <content>
      <Value><![CDATA[{
  "markup": "<ol>\n<li>Shunt the cells left, right, up or down.&nbsp; Use keys on PC, and swipe on touch screen devices.</li>\n<li>If 2 cells of the same value get shunted together, they merge!</li>\n<li>Can you merge a cell all the way to 2048?&nbsp;</li>\n</ol>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
    <pageTitle>
      <Value><![CDATA[2048]]></Value>
    </pageTitle>
  </Properties>
</Content>