<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a20dd60-67ab-4578-ace4-924e4574e2ca" Alias="HomePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-10-05T23:28:15</CreateDate>
    <NodeName Default="HomePage" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f467d4c5-2b14-4cbd-ba30-8e1e4c2f951f">HomePage</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>Content</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
  </Properties>
</Content>