<?xml version="1.0" encoding="utf-8"?>
<Content Key="aaee23f6-9d5e-41df-92dc-7d425adc6120" Alias="Signin" Level="2">
  <Info>
    <Parent Key="5a20dd60-67ab-4578-ace4-924e4574e2ca">HomePage</Parent>
    <Path>/HomePage/Signin</Path>
    <Trashed>false</Trashed>
    <ContentType>signin</ContentType>
    <CreateDate>2024-10-05T23:32:58</CreateDate>
    <NodeName Default="Signin" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a49efbd-a39e-4a26-a806-03272ffebede">Signin</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"Signin\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
  </Properties>
</Content>