<?xml version="1.0" encoding="utf-8"?>
<Content Key="eff9b288-b8fc-489d-85b8-495d94c8ab65" Alias="Signout" Level="2">
  <Info>
    <Parent Key="5a20dd60-67ab-4578-ace4-924e4574e2ca">HomePage</Parent>
    <Path>/HomePage/Signout</Path>
    <Trashed>false</Trashed>
    <ContentType>signout</ContentType>
    <CreateDate>2024-10-05T23:33:05</CreateDate>
    <NodeName Default="Signout" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2eb10ac4-7e94-42bd-9597-05dd8c54e264">Signout</Template>
  </Info>
  <Properties>
    <content>
      <Value><![CDATA[{
  "markup": "<p>&nbsp;</p>\n<?UMBRACO_MACRO macroAlias=\"Signout\" />\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </content>
  </Properties>
</Content>