<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbe3e442-0b57-4442-b04b-34e31c5a4bb8" Alias="css-grid-test" Level="2">
  <Info>
    <Parent Key="5a20dd60-67ab-4578-ace4-924e4574e2ca">HomePage</Parent>
    <Path>/HomePage/cssGridTest</Path>
    <Trashed>false</Trashed>
    <ContentType>cSSGridTest</ContentType>
    <CreateDate>2024-10-17T19:27:23</CreateDate>
    <NodeName Default="css-grid-test" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6056f009-29e8-4656-8073-1575b90a5e03">CSSGridTest</Template>
  </Info>
  <Properties />
</Content>