<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c9e50a5-6c18-4e63-9531-a4c532b59a37" Alias="Games" Level="2">
  <Info>
    <Parent Key="5a20dd60-67ab-4578-ace4-924e4574e2ca">HomePage</Parent>
    <Path>/HomePage/Games</Path>
    <Trashed>false</Trashed>
    <ContentType>games</ContentType>
    <CreateDate>2024-10-05T23:32:43</CreateDate>
    <NodeName Default="Games" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="5a11ee97-a196-42a7-b5e1-27d0b428523b">Games</Template>
  </Info>
  <Properties />
</Content>