<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5186b814-68a8-4093-ac0a-cc29a2cbdd62" Alias="cSSGridTest" Level="2">
  <Info>
    <Name>CSSGridTest</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Test</Folder>
    <Compositions />
    <DefaultTemplate>CSSGridTest</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6056f009-29e8-4656-8073-1575b90a5e03">CSSGridTest</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>