<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0f7ca1c2-25aa-43d5-888b-206759be8246" Alias="games" Level="1">
  <Info>
    <Name>Games</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Games</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5a11ee97-a196-42a7-b5e1-27d0b428523b">Games</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>