<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9879d193-85a2-4023-bb46-70c40996e21c" Alias="homePage" Level="1">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f467d4c5-2b14-4cbd-ba30-8e1e4c2f951f">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0f7ca1c2-25aa-43d5-888b-206759be8246" SortOrder="0">games</ContentType>
    <ContentType Key="0113e35f-7c3c-4fe8-90f0-776945cf88a0" SortOrder="1">register</ContentType>
    <ContentType Key="36a6fa1a-ad69-4dbe-a960-8ab84d8695c8" SortOrder="2">signin</ContentType>
    <ContentType Key="6f7f604e-c229-4ede-9107-5bbc6f6c7f0d" SortOrder="3">signout</ContentType>
    <ContentType Key="5186b814-68a8-4093-ac0a-cc29a2cbdd62" SortOrder="4">cSSGridTest</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>d3659288-3275-49dd-ad89-8e051d15eed4</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>763e17f2-2aa1-49e7-9e88-e0832464d79c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>